@{
    ViewBag.Title = "GPP";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="width:100%; float:left; margin-bottom:10px;">
    @Html.ActionLink("Print Graph", "PrintGraph", "Projects")
    <p style="float:right; margin-top:0px;">
    Timeframe:
    @Html.DropDownList("Timeframo", ViewBag.Timeframez as SelectList, new {id = "timeframo"})
    </p>
</div>

<canvas id="graph"></canvas>  



